<!doctype html>
<html lang="{{ lang | default: 'en' }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} — {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen+Sans:300,300i,400,400i,700,700i"
        />
    </head>
    <body>
        <header>
            <a href="https://www.ox.ac.uk/"
                ><img
                    class="oxford-logo"
                    height="100"
                    src="{{ '/img/oxford-logo.svg' | relative_url }}"
                    alt="University of Oxford Logo"
            /></a>
            <a href="https://afp.oxford-aiethics.ox.ac.uk/"
                ><img
                    class="oxford-logo"
                    height="100"
                    src="{{ '/img/afp-logo.svg' | relative_url }}"
                    alt="Accelerator Fellowship Programme Logo"
            /></a>
            <div style="position: absolute; top: 20px; right: 20px">
                {% if lang == 'en' %}
                <a href="{{ '/tw' | relative_url }}" class="lang-toggle"
                    >華文</a
                >
                {% else %}
                <a href="{{ '/' | relative_url }}" class="lang-toggle"
                    >English</a
                >
                {% endif %}
            </div>
            <h1>
                {{ header_title | default: title }}
                <span style="font-weight: 300">—</span> {{ subtitle | default:
                "Institute for Ethics in AI" }}
            </h1>
            {% if description %}
            <p>{{ description }}</p>
            {% endif %} {% if manifesto_link %}
            <br />
            <a href="{{ manifesto_link }}" class="next-action-button">
                <span class="button-text"
                    >↗️ {{ manifesto_text | default: "Read Our Manifesto"
                    }}</span
                >
            </a>
            {% endif %}
        </header>

        <main>{{ content }}</main>

        {% if next_action %}
        <section class="next-action">
            <div class="next-action-content">
                <a
                    href="{{ next_action.url | relative_url }}"
                    class="next-action-button"
                >
                    {% if next_action.arrow == 'left' %}
                    <span class="button-arrow">←</span>
                    <span class="button-text">{{ next_action.text }}</span>
                    {% else %}
                    <span class="button-text">{{ next_action.text }}</span>
                    <span class="button-arrow">→</span>
                    {% endif %}
                </a>
            </div>
        </section>
        {% endif %} {% include "footer.html" %}
    </body>
</html>
